.addProperty {
  box-sizing: border-box;
  width: 100%;
  background-image: url("../../images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  height: auto;
  color: white;
  text-align: center;
}

.backgroundBlur {
  background-color: rgba(8, 8, 8, 0.8);
  padding-bottom: 1%;
}

.addProperty form {
  width: 70%;
  padding: 2%;
  display: block;
  margin: 1% auto;
}

.addProperty h1 {
  border-bottom: 1px solid white;
  padding-bottom: 1%;
}

.addProperty input {
  display: block;
  width: 70%;
  margin: 1% auto;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.addProperty textarea {
  width: 70%;
}

option {
  display: inline;
}

.addProperty label {
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
  position: relative;
  margin-right: 4%;
  margin-bottom: 2%;
}

.addProperty label input {
  position: absolute;
  left: 0;
  top: 0;
}

.addProperty select {
  width: 70%;
  margin: 1% auto;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.addProperty button {
  color: white;
  background-color: black;
  padding: 1%;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.addProperty button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.backgroundBlur a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .addProperty form {
    width: 90%;
    margin-top: 5%;
  }

  .addProperty input {
    display: block;
    width: 90%;
  }

  .addProperty select {
    width: 90%;
    background: white;
  }

  .addProperty textarea {
    width: 90%;
  }
}
