.booking {
  height: auto;
  background-color: pink;
  margin-bottom: 1rem;
}

.bookingPage {
  background-image: url("../../images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.bookingDetails {
  width: 38%;
  background-color: rgba(8, 8, 8, 0.7);
  padding: 0.5%;
  margin: 0.5%;
  text-align: center;
  color: white;
}

.userDetails {
  width: 57%;
  background-color: rgba(8, 8, 8, 0.7);
  margin: 0.5%;
  padding: 0.5%;
  text-align: center;
  color: white;
}

.userDetails input {
  width: 90%;
  margin-top: 2%;
  text-align: center;
  font-size: 1.2rem;
}

.userDetails button {
  font-size: 1.2rem;
  margin: 2%;
  background-color: black;
  color: white;
  font-weight: bold;
}

.userDetails button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.bookingDetails table {
  width: 90%;
  margin: 4% 11%;
}

.bookingCompleted {
  border: 1px solid white;
  margin: 10% auto;
  padding: 2%;
  width: 50%;
  background-color: rgba(8, 8, 8, 0.7);
  color: white;
}

.bookingDetails img {
  border: 1px solid white;
}

.bookingCompleted a {
  text-decoration: none;
  background-color: black;
  padding: 0.5%;
  text-align: center;
  width: 30%;
  border-radius: 0.3rem;
  color: white;
  margin: 1% auto;
  font-weight: bold;
  display: block;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 164px;
  height: 164px;
  margin-left: 50%;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@media only screen and (max-width: 768px) {
  .bookingPage {
    background-color: #81a7ee;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-top: 10%;
  }

  .bookingDetails {
    width: 96%;
    background-color: rgba(8, 8, 8, 0.7);
    text-align: center;
    color: white;
    box-sizing: border-box;
    margin: 1% auto;
    font-size: 0.9rem;
    height: auto;
  }

  .bookingDetails table {
    font-size: 0.9rem;
  }

  .userDetails {
    width: 96%;
    background-color: rgba(8, 8, 8, 0.7);
    margin: 0.5% auto;
    padding: 0.5%;
    text-align: center;
    color: white;
    box-sizing: border-box;
  }

  .bookingCompleted {
    width: 96%;
    box-sizing: border-box;
    margin-top: 1%;
  }

  .bookingCompleted a {
    width: 50%;
    border-radius: 0.3rem;
    display: block;
    color: white;
    margin: 0 auto;
    font-weight: bold;
  }
}
