.searchProperty {
  width: 25%;
  border: solid black 1px;
  background-color: rgba(8, 8, 8, 0.8);
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.form input {
  display: block;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.02rem;
  outline: none;
}

.form label {
  font-weight: bold;
}

.form {
  text-align: center;
  width: 90%;
  margin: 1rem auto;
  font-weight: 1.2rem;
  border: 1px solid black;
}

.form button {
  width: auto;
  height: 2rem;
  background-color: black;
  color: white;
  outline: none;
  border-radius: 0.3rem;
  font-weight: bold;
  margin-bottom: 2%;
}

.form button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.searchBox {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.otherLogin {
  border-top: 1px solid white;
  padding: 4%;
  margin: 2%;
}

.otherLogin a {
  text-align: center;
  width: 80%;
  padding: 3%;
  background-color: black;
  color: white;
  display: block;
  margin: 4% auto;
  border: 1px solid white;
  border-radius: 0.1rem;
}

.otherLogin a:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

@media only screen and (max-width: 768px) {
  .searchProperty {
    display: block;
    margin: 10% auto 1% auto;
    width: 100%;
  }

  .form {
  }
}
