.searchProperty {
  width: 25%;
  height: auto;
  border: solid black 1px;
  background-color: #b4172c;
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.form input {
  display: block;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.02rem;
}

.form label {
  font-weight: bold;
}

.form {
  text-align: center;
  width: 90%;
  margin: 1rem auto;
  font-weight: 1.2rem;
}

.form button {
  width: auto;
  height: 2rem;
  background-color: #81a7ee;
  color: white;
  outline: none;
  border-radius: 0.3rem;
  font-weight: bold;
}

.form button:hover {
  cursor: pointer;
  background-color: white;
  color: #81a7ee;
}

.searchBox {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .searchProperty {
    margin: 12% auto;
    width: 100%;
  }
}
