.bookingModal {
  width: 90%;
  margin: 0 auto;
  background-color: #ccc;
  text-align: center;
  line-height: 0.8rem;
  color: white;
}

.exitButton {
  text-align: center;
  width: 30%;
  height: 25px;
  margin-left: auto;
  background-color: rgb(66, 61, 61);
  color: white;
  font-weight: bold;
}

.exitButton:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(66, 61, 61);
}

.border {
  border: 2px solid white;
  padding: 2%;
  margin: 0 2%;
}

.modalHead {
  text-align: center;
  background-color: rgb(66, 61, 61);
  color: white;
  height: auto;
  padding: 0.5rem;
  border: 2px solid white;
  margin: 2% 2%;
}

.bookingContent {
  width: 95%;
  height: 95vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  flex-wrap: wrap;
  text-align: center;
  font-weight: bold;
}

.contentPortion {
  width: 47%;
  border: 1px solid white;
  padding: 0.5%;
  margin-bottom: 0.5%;
  line-height: 1.2rem;
  background-color: black;
  color: white;
}

.contentPortion img {
  border: 2px solid white;
}

@media only screen and (max-width: 768px) {
  .bookingContent {
    width: 98%;
    height: auto;
    margin: 0 auto;
    display: block;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.8rem;
  }

  .contentPortion {
    width: 95%;
    padding: 0.5%;
    padding-bottom: 2%;
    margin-bottom: 3%;
    line-height: 1.2rem;
    height: auto;
  }

  .contentPortion:nth-child(2) {
    margin-bottom: 12%;
  }

  .exitButton {
    text-align: center;
    width: auto;
    height: 25px;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    font-weight: bold;
  }
}
