.adminLand {
  width: 100%;
  height: 85vh;
  box-sizing: border-box;
  background-image: url("../../../images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

.landOverlay {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: rgba(8, 8, 8, 0.7);
  justify-content: center;
}

.landOverlay h1 {
  width: 90%;
  font-size: 1.8rem;
  color: white;
  margin: 15% auto 5% auto;
  border-bottom: 3px solid white;
  padding: 1%;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.link {
  box-sizing: border-box;
  width: 25%;
  background-color: rgba(8, 8, 8, 0.8);
  padding: 5%;
  border: 2px solid white;
  font-weight: bold;
}

.link a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 768px) {
  .links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .adminLand {
    margin-top: 10%;
  }

  .link {
    box-sizing: border-box;
    width: 90%;
    background-color: black;
    padding: 5%;
    margin: 3% auto;
  }

  .landOverlay h1 {
    font-size: 1.6rem;
  }
}
