.contactModal {
  width: 85%;
  margin: 0 auto;
  background-color: #ccc;
  text-align: center;
  line-height: 0.8rem;
  color: white;
}

.exitButton {
  text-align: center;
  width: 20%;
  height: 25px;
  margin: 1% auto;
  background-color: rgb(37, 36, 36);
  color: white;
  font-weight: bold;
}

.exitButton:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(66, 61, 61);
}

.text {
  font-size: 0.8rem;
  max-width: 90%;
}

.contactForm {
  width: 90%;
  background-color: rgb(66, 61, 61);
  color: white;
  height: auto;
  margin: 1% auto;
  display: block;
  padding: 3%;
  box-sizing: border-box;
  flex-wrap: wrap;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .contactForm {
    width: 95%;
    padding: 0.5%;
    padding-bottom: 2%;
    margin-bottom: 3%;
    line-height: 1.2rem;
    height: auto;
  }

  .contentPortion:nth-child(2) {
    margin-bottom: 12%;
  }

  .text {
    max-width: 90%;
  }

  .exitButton {
    text-align: center;
    width: 80%;
    height: 25px;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    font-weight: bold;
  }
}
