.landingPage {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  box-sizing: border-box;
}

.landingContent {
  box-sizing: border-box;
  width: 75%;
  border: 1px solid black;
  background-color: green;
  height: auto;
  margin-bottom: 1rem;
  padding: 0 10%;
  justify-content: center;
}

.searchResults {
  width: 100%;
  box-sizing: border-box;
}

.propertyRow {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #b4172c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.propertyBlock {
  height: auto;
  width: 33%;
  box-sizing: border-box;
  border: 2px solid #81a7ee;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.propertyBlock button:hover {
  cursor: pointer;
}

.propertyBlock button {
  width: 50%;
  height: 1.3rem;
  background-color: #81a7ee;
  color: white;
  font-weight: bold;
}

.propertyBlock img {
  box-sizing: border-box;
  width: 90%;
  margin: 0.3rem;
}

@media only screen and (max-width: 768px) {
  .landingContent {
    display: none;
  }

  .landingPage {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .propertyRow {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #b4172c;
    display: block;
  }

  .propertyBlock {
    width: 100%;
  }
}
