.userReg {
  width: 100%;
  margin: 0% auto 1% auto;
  text-align: center;
  box-sizing: border-box;
  background-image: url("../../images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  font-weight: bold;
}

.overlay2 {
  background-color: rgba(8, 8, 8, 0.7);
  padding: 1%;
}

.userReg form {
  margin-top: 2%;
}

.userReg h1 {
  border-bottom: 1px solid white;
  padding-bottom: 1%;
}

.userReg input {
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1%;
  border: 0.5px solid black;
}

.userReg a {
  color: white;
  text-decoration: underline;
}

.oAuth2 {
  display: block;
  width: 60%;
  margin: 1% auto;
}

.oAuth2 button {
  display: block;
  width: 60%;
  margin: 1% auto;
}

.userReg button {
  background-color: black;
  color: white;
  font-weight: bold;
  height: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: auto;
  outline: none;
  width: 20%;
  font-size: 1.15rem;
}

.userReg button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

@media only screen and (max-width: 768px) {
  .userReg {
    width: 100%;
    margin-top: 12%;
  }
  .userReg h1 {
    border-bottom: 1px solid white;
    padding-bottom: 2%;
  }

  .userReg input {
    width: 90%;
  }

  .oAuth2 {
    width: 100%;
  }

  .googleButton {
    width: 100%;
    margin: 0 auto;
    font-size: 0.9rem;
  }

  .userReg button {
    width: 40%;
    margin-bottom: 1%;
    font-size: 0.9rem;
  }
}
